__pycache__/
*.pyc
.venv/
.env
models/
app/__pycache__/
client/__pycache__/
# local datasets & artifacts
data/
data/raw/
data/processed/
*.ipynb_checkpoints/
data/
.venv/
__pycache__/
*.pyc
data/
*.ipynb
*.log
*.tmp
.DS_Store
# big binaries you don't want in git history:
*.mp4
*.avi
